# Backend specific
axor/axor_app_backend/node_modules/
axor/axor_app_backend/.env
axor/axor_app_backend/mega_cache/
axor/axor_app_backend/song_metadata_cache/
axor/axor_app_backend/*.log

# Flutter specific
axor_app/.dart_tool/
axor_app/.flutter-plugins
axor_app/.flutter-plugins-dependencies
axor_app/.packages
axor_app/build/
axor_app/android/.gradle/
axor_app/android/local.properties
axor_app/android/gradlew
axor_app/android/gradlew.bat
axor_app/ios/Pods/
axor_app/ios/.symlinks/

# Ignore other folders
new/
sdk-build/
sdk-master/
vcpkg/
.vscode/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
